.navLinks{
    display: flex !important;
    align-items: center !important;
    column-gap: 2rem !important;
    justify-content: flex-end !important;
    height: 100% !important;
}
.menuButton{
    display: none !important;
}
.navLink{
    color: #413f3f !important;
    font-weight: 500 !important;
}
.activeNavLink{
    color: rgb(0, 76, 255) !important;
    font-weight: 500 !important;
}

.navLink:hover{
    color: rgb(0, 76, 255) !important;
    transition: 0.3s !important;
}

@media(max-width:650px){
    .navLinks{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
        height: 100% !important;
        position: absolute !important;
        right: -100vh !important;
    }
    .menuButton{
        display: block !important;
        margin-left: auto !important;
        height: 100% !important;
    }
    .navLinksOpen{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        z-index: 999 !important;
        background-color: #fff !important;
        text-align: center !important;
        position: absolute !important;
        width: 100vw !important;
        top: 3.8rem !important;
        right: 0 !important;
        height: 100vh !important;
    }
    .navLinksOpen .navLink, .activeNavLink{
        padding: 1rem 0.5rem !important;
    }
    .navLinksOpen .navLink:hover{
        background-color: #7c7c7c80 !important;
    }
    .activeNavLink{
        background-color:rgb(0, 76, 255) !important;
        color: #ffffff !important;
    }

}
