.hero{
    padding: 3rem 3rem 0 3rem !important;
}
.heroContent{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center !important;
}
.cta{
    width: 18rem !important;
    margin-top: 2rem !important;
    border-radius: 5px !important;
    padding: 0.6rem 2rem !important;
}

.image{
    animation: scaleAnimation 10s linear infinite !important;
}

@media (max-width: 1060px){
    .heroContent{
        text-align: center !important;
    }
    .cta{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .leftContent{
        order: 2 !important;
    }
    .rightContent{
        order: 1 !important;
    }
}

@media (max-width: 650px){
    .leftContent{
        order: 2 !important;
    }
    .rightContent{
        order: 1 !important;
    }
}
@media (max-width: 500px){
    .rightContent{
        margin-bottom: 3rem;
    }
    .cta{
        margin-top:2rem !important;
    }
    .hero{
        padding: 6rem 1rem 0 1rem !important;
    }
}

@keyframes scaleAnimation{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
